* {
    font-family: 'Rubik', sans-serif;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 96.9vh;
    padding-top: 25px;
    margin-top: 20px;
    display: inline-block;
}


.sidebar__total {
    width: calc(100% - 20px);
    margin: 0 10px 20px 10px;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.red-balance {
    background-color: rgb(245, 184, 184);
    color: rgb(248, 63, 63);
}

.green-balance {
    background-color: rgb(182, 255, 184);
    color: rgb(44, 186, 44);
}

.sidebar__total-text {
    margin: 0;
    padding: 0;
    font-size: smaller;
    font-weight: 600;
}

.sidebar__total-amount {
    color: #373737;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: 700;
}


.sidebar__total p {
    margin: 0;
    padding: 0;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__form-input {
    width: 85%;
    margin: 20px;
    height: 25px;
    padding: 0 9px 0 9px;
    color: #B1B1B1;
    font-weight: 600;
    box-shadow: 0px 0px 4px 0px #B1B1B1;
    border: none;
    border-radius: 15px;
}

.sidebar__form-input::placeholder {
    color: #c7c7c7;
}

.sidebar__form-input:focus {
    outline: none;
}

.sideBar__form__type-container {
    width: 85%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.incomeButton,
.expenseButton {
    height: 100%;
    width: 45%;
    box-shadow: 0px 0px 4px 0px #B1B1B1;
    border: none;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.income,
.expense {
    margin-bottom: 0;
    font-size: smaller;
    font-weight: 700;
    color: #B1B1B1;
}

.incomeTotal,
.expenseTotal {
    color: #373737;
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: large;
}

.iconUp-container,
.iconDown-container {
    margin-top: 15px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconUp-container {
    color: rgb(44, 186, 44);
    background-color: rgb(182, 255, 184);
}

.iconDown-container {
    color: rgb(248, 63, 63);
    background-color: rgb(245, 184, 184);
}

.incomeButton:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.expenseButton {
    height: 100%;
    width: 45%;
}

.select {
    width: 85%;
    margin: 20px;
    height: 25px;
    padding: 0 9px 0 9px;
    color: #B1B1B1;
    font-weight: 600;
    box-shadow: 0px 0px 4px 0px #B1B1B1;
    border: none;
    border-radius: 15px;
}

.sidebar__form-input::placeholder {
    color: #c7c7c7;
}

.sidebar__form-input:focus {
    outline: none;
}


.addButton {
    margin-top: 20px;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
}

.bottom__history {
    margin: 10px 10px 20px 10px;
    height: 350px;
    width: calc(100% - 20px);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;

}



.bottom__history::-webkit-scrollbar {
    display: none;
}

.expense-item {
    margin: 0 0 25px 0;
    border-radius: 15px;
    height: 45px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.expense-item div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
}

.expense-item p {
    margin: 0;
}

.green {
    background-color: rgb(182, 255, 184);
}

.red {
    background-color: rgb(245, 184, 184);
}

@media (max-width: 930px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sideBar__form-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .sidebar__total {
        width: 50%;
        height: 60px;
    }

    .expense-item {
        width: 90%;
        height: 60px;
    }

    .bottom__history {
        margin: 25px;
        align-items: center;
        width: 50%;
    }
}

@media (max-width: 556px) {
    .sidebar {
        flex-direction: column;
    }
    .sidebar__total {
        width: 90%;
    }

    .expense-item {
        width: 100%;
    }

    .bottom__history {
        width: 90%;
    }
}
